<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576438094613-qts6u43of1ad8dfrfocjpirneki1hqii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576438094613-qts6u43of1ad8dfrfocjpirneki1hqii</string>
	<key>API_KEY</key>
	<string>AIzaSyDF92iJo--D2pSAZDjHLd4z6VOUhbdUApA</string>
	<key>GCM_SENDER_ID</key>
	<string>576438094613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lmu.veritas.StudyStacks</string>
	<key>PROJECT_ID</key>
	<string>studystacks-9d631</string>
	<key>STORAGE_BUCKET</key>
	<string>studystacks-9d631.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576438094613:ios:353b0a798550d80da2f71c</string>
</dict>
</plist>